/* css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title_class{
    color: green;
    text-align: center;
    padding-top: 10px;
}

.logo_style{
    display: block;
    margin: 30px auto;
    width: 50%;
}